body { 
  background-image: url('bg1.jpg'); 
  background-repeat:no-repeat;
  position : center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1{
  text-align : center;
  color : #EEE8AA;
  font-family : serif;
  margin: 1px
}

h4{
  color : #FC9483;
}
